# -------------------------------
# Node.js / client / Backend
# -------------------------------
node_modules/
client/node_modules/
backend/node_modules/
client/.next/
.next/
out/
build/
dist/

# -------------------------------
# Logs
# -------------------------------
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# -------------------------------
# Env files
# -------------------------------
.env
.env.*

# -------------------------------
# System / IDE
# -------------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# -------------------------------
# Deployment
# -------------------------------
.vercel/
.netlify/

# -------------------------------
# Misc / Other
# -------------------------------
*.pem
*.tsbuildinfo
